<section id="{{ section.id }}">
<style>
    /* Style the tab */
    .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F1F1F1;
    }
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    }
    /* Change background color of buttons on hover */
    .tab button:hover {
    background-color: #ddd;
    }
    /* Create an active/current tablink class */
    .tab button.active {
    background-color: #ccc;
    }
    /* Style the tab content */
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    }
</style>
<div class="container">
    <div class="tab">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'tabs' -%}
          <button class="tablinks {% if forloop.first %} active {% endif %}" onclick="openCity(event, '{{ block.id }}')"> {{ block.settings.heading }}</button>
        {%- endcase -%}
    {%- endfor -%}
    </div>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'tabs' -%}
          <div id="{{ block.id }}" class="tabcontent "  style="{% if forloop.first %} display : block; {% endif %}">
            {% if block.settings.text_description != blank %}
              {{ block.settings.text_description }}
            {% endif  %}
            {% if block.settings.content != blank %}
              {{ block.settings.content }}
            {% endif  %}
          </div>
        {%- endcase -%}
    {%- endfor -%}
    </div>

    <script>
    function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }
    </script>
</section>

{% schema %}
  {
  "name": "Code In Shopify Section",
  "settings": [],
  "blocks": [
    {
      "name": "tabs",
      "type": "tabs",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Tab Heading",
          "placeholder": "Heading text",
          "info": "Heading"
        },
        {
          "type": "richtext",
          "id": "text_description",
          "label": "Text Description",
          "info": "Description"
        },
          {
          "type": "liquid",
          "id": "content",
          "label": "content",
          "default": "content",
          "info": "Liquid Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab Description"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}